.rawStyle {
    width: 70%; /* Default to 70% width on larger devices */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage Image {
  max-width: 100%;
  height: auto;
}
.responsiveImage {
  max-width: 100%;
  height: auto;
}
.bookingStyle {
    width: 70%; /* Default to 70% width on larger devices */
  }
  
  .banner {
    display: block;
  }
  .footer{
    display: none;
  }
  .footerImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
  }
  .sidebar {
    display: none;
   }
 .hamburger{
    display: none;
 }
  @media (max-width: 768px )  {
    .rawStyle {
      width: 100%; /* Width is 100% for devices with a width less than 768px */
    }
    .bookingStyle {
      width: 100%; /* Width is 100% for devices with a width less than 768px */
    }
  
    .banner {
        display: none; /* "auto" without double quotes */
    }
    .footer{
      display: block;
    }
    .footerImage{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between
    }
    .sidebar {
      display: none;
    }
    .hamburger{
       display: block;
    }

    .loginPage {
      flex-direction: column;
    }
  
    .loginPage > div {
      width: 100%;
      text-align: center;
    }
  
    .loginPage > div:first-child {
      margin-bottom: 20px;
    }
  }
  